@using System.Threading
@model WebHW.Models.ErrorViewModel


<h1>404</h1>

<div>
    <h4>PageNotFound</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-10">
            It seems you have followed an invalid link
        </dd>
    </dl>
</div>
<div>
</div>
