@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>you're on site hosted on @ViewData["UserGuidProvider"] </p>
    <p>@ViewData["ViewCount"] unique users for the past day</p>
</div>
